.text-shadow {
    text-shadow: 2px 2px 2px rgba(93, 179, 153, 0.5);
}

body {
    background: url("../images/cooking1.png") no-repeat center center fixed;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}


.btn-small {
    margin: 5px;
}    

.collapsible-header {
  font-size: 1.25em;  
}

/* Footer */

.page-footer {
    text-shadow: 2px 2px 2px rgba(93, 179, 153, 0.5);
    color: black; 
}

#socials {
    padding-top: 15px;
}
#socials i {
    color: #031cffb9;
}
#socials i:hover {
    color: rgb(106, 80, 255);
}
#socials li {
    display: inline;
    padding-right: 15px;
}

#links a {
    color: #031cffb9;
}

#links a:hover {
    color: rgb(106, 80, 255);
}

main {
    flex: 1 0 auto;
    }

/* Lists */

.ingredients_list li {
    display: inline;
    padding: 5px;
}


.steps_list {
    padding: 5px;
}

/* Cards */

.card {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: transparent;  
}
.card-image img {
    max-height: 600px;
    min-height: 600px;
    overflow: hidden;
    object-fit: cover;
}

.note {
    font-size: 12px;
}

/* search bar */

.search {
    margin: auto;
    margin-bottom: 2%;
    width: 98%;
    background-color: rgb(198, 236, 218);
}

/* contact form */

.contact {
    margin: auto;
    margin-top: 2%;
    width: 98%;
    background-color: rgb(198, 236, 218);
    border: 1px solid #a5d6a7;
}
