.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body {
    background: url("../images/cooking.jpg") no-repeat center center fixed;
   font-family: "Vollkorn", sans-serif;
   font-weight: 400;
   overflow-x: hidden;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: #fafafa;
   margin: auto;  
}