<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="cooking, recipe, lunch, dinner, breakfast, brunch">
  <meta name="Author" content="Adrian Moldoveanu">
  <meta name="Description" content="Cooking Frenzy">
  <link rel='shortcut icon' type='image/x-icon' href='static/images/favicon.ico' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
  </script>
  <script>
    (function () {
      emailjs.init("user_7UpZadx63U78QrgI7uGhe");
    })();
  </script>
  <title>Cooking Frenzy</title>
</head>

<body>
  <header>
    <!--top navbar-->
    <nav class="nav-extended green lighten-3 text-shadow">
      <div class="nav-wrapper">
        <a href="{{ url_for('get_recipes') }}" class="brand-logo black-text text-shadow">Cooking Frenzy</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down black-text">
          <li><a class="black-text" href="{{ url_for('get_recipes') }}">Recipes</a></li>
          {% if session.user %}
          <li><a class="black-text" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
          <li><a class="black-text" href="{{ url_for('add_recipe') }}">New Recipe</a></li>
          {% if session.user|lower == "admin"|lower %}
          <li><a class="black-text" href="{{ url_for('get_categories') }}">Manage Categories</a></li>
          {% endif %}
          <li><a class="black-text" href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
          <li><a class="black-text" href="{{ url_for('login') }}">Log In</a></li>
          <li><a class="black-text" href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!--mobile navbar-->
    <ul class="sidenav green lighten-3" id="mobile-demo">
      <li class="h4 center-align">Cooking Frenzy</li>
      <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
      {% if session.user %}
      <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
      <li><a href="{{ url_for('add_recipe') }}">New Recipe</a></li>
      {% if session.user|lower == "admin"|lower %}
      <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
      {% endif %}
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Log In</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% endif %}
    </ul>
  </header>

  <div class="row">
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
      <h4 class="green lighten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <!-- footer -->
  <footer class="page-footer green lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Socials</h5>
          <ul id="socials">
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="https://steamcommunity.com/profiles/76561198330784628/" target="_blank"><i
                  class="fab fa-steam fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/adrian-moldoveanu-5669b91b9/" target="_blank"><i
                  class="fab fa-linkedin-in fa-2x"></i></a></li>
            <li><a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Links</h5>
          <ul id="links">
            <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text text-shadow">
        © 2022 Adrian
      </div>
    </div>
  </footer>
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>